/* affilinet.css */

.affilinet-table th,
.affilinet-table td {
	border:1px solid #999;
	padding:5px;
}

.affilinet_tbl_right {
	text-align: right !important;
}

.affilinet-table th {
	text-align:center;
	font-weight:bold;
}

#product_search_description ul {
	list-style:disc inside;	
}

#product_search_description li {
	font-size:1em;
}


.affilinet_status_Open {
	background-color:#ff0000;
	padding: 0.5em;
}

.affilinet_status_Confirmed {
	background-color:green;
	color:white;
	padding: 0.5em;
}

.pink {
	background-color: #edd7d7;
	padding:1em;
}

.green {
	background-color: #d7edd7;
	padding:1em;
}

.yellow {
	background-color: #eeeed6;
}

#categoryTable .form-item, .form-actions {
    margin-bottom: 0;
    margin-top: 0;
}

.affilinet_main_categories {
	float: left;
	width: 300px;
} 

.affilinet_sub_categories {
	width: 300px;
}

#affilinet_programs td {
	vertical-align:middle;
}

.affilinet_clear {
	clear:both;
}

#edit-country .form-type-radio {
	float:left;
	padding-right:1em;
	padding-top:1em;
}

#pricefields input {
	width:50px;
	text-align:right;
	padding-right:0.5em;
}

#pricefields .form-item, #sortfields .form-item {
	float:left;
	padding-right:20px;
}
