/* affilinet.css */

.affilinet_tbl_right {
	text-align: right !important;
}

#product_search_description li {
	font-size:1em;
}

.affilinet_status_Open {
	background-color:#ff0000;
	padding: 0 0.5em;
}

.pink {
	background-color: #edd7d7;
	padding:1em;
}

.green {
	background-color: #d7edd7;
	padding:1em;
}

.yellow {
	background-color: #eeeed6;
}

#categoryTable .form-item, .form-actions {
    margin-bottom: 0;
    margin-top: 0;
}

.affilinet_main_categories {
	float: left;
	width: 300px;
} 

.affilinet_sub_categories {
	width: 300px;
}

.affilinet_clear {
	clear:both;
}
